# Ignore virtual environments
.venv/
venv/
.venv

# Ignore PyCharm/IDEA project files
.idea/
.idea

# Ignore compiled Python files
__pycache__/
--pycache__
.pycache
.__pycache__/
pycache
__pycache__
.pychache
.pycache/
.__pychache__/
.__pychache__

# Ignore environment files
.env
env/
.env/
env

# Ignore large dependency files
*.dll
*.lib
*lib
*dll
